* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration:none;
}
.TOP{
    width:100%;
    min-height:100vh;
    background-color:rgba(36, 37, 42, 1);
    background-position:center;
    position:relative;
}
nav {
    width: 100%;
    background:black;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    box-shadow: -1px 6px 1px -2px rgb(0, 0, 0, 0.2);
    
}

nav .avatar {
    padding-left: 10px;
}

.logo{
    color:black;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}
.link_on_top{
    
    flex:1;
    text-align:right;
}
.link_on_top ul li{
   
    list-style:none;
    display:inline-flex;
    padding:15px 20px;
    position:relative;
}

    .link_on_top ul li a {
        color: white;
        font-size: 16px;
        text-decoration: none;
        justify-content: center;
        }
    .link_on_top ul li a:hover{
        color: #f44336;
        transition: 0.5s;
    }

    .row{
        display: flex;
        height:88%;
        align-items:center;
        
    }
    .col{
        flex-basis: 100%;
        padding-top: 50px;
        text-align: center;
    }
    .col h1{
        color: white;
        font-size:45px;
        padding-top: 8%;
    }
    p{
        color:black;
        font-size: 12px;
    }

    .box{
        width:200px;
        height:230px;
        display:inline-block;
        border-radius: 10px;
        padding: 15px 25px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 10px 15px;
        background-position: center;
        background-size: cover;
        transition: transform 0.5s;
    }
    .box:hover{
        transform: translateY(-10px);
    }
    .box h5{
        color: white;
    }

    .box p{
        color:white;
    }
    .box1{
        background-image: url("ludo.jpg");
    }
    .box2{
        background-image: url("flight.jpg");
    }
    .box3{
        background-image: url("network.jpg");
    }
    .box4{
        background-image: url("web.jpg");
    }

@media (max-width:1300px) {
    .row{
        flex-direction: column;
    }

    .row{
        display: flex;
        height:88%;
        align-items:center;
        
    }
    .col{
        flex-basis: 50%;
        padding-top: 50px;
        text-align: center;
    }
    .col h1{
        color: #ffffff;
        font-size:45px;
    }
    p{
        color:black;
        font-size: 12px;
    }

    .box{
        width:200px;
        height:230px;
        display:inline-block;
        border-radius: 10px;
        padding: 15px 25px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 10px 15px;
        background-position: center;
        background-size: cover;
        transition: transform 0.5s;
    }
    .box:hover{
        transform: translateY(-10px);
    }
    .box h5{
        color: white;
    }

    .box p{
        color:white;
    }
    .box1{
        background-image: url("ludo.jpg");
    }
    .box2{
        background-image: url("flight.jpg");
    }
    .box3{
        background-image: url("network.jpg");
    }
    .box4{
        background-image: url("web.jpg");
    }
/*
    .box{
        width:450px;
        height:600px;
    }

    .box h5{
        font-size: 18px;
        color: white;
    }

    .box p{
        font-size: 16px;
        color:white;
    }
    .link_on_top ul li a {
        color: black;
        font-size: 20px;
        text-decoration: none;
    }
    */
}